Repository JohnPaulHarold/crt, pull requests merged in 2023-10, with the labels that each got.

#198 `[crt197]` update readme
  README.md
Labels: documentation

#211 `[crt212]` Can I video UI restyle and refactor
  src/components/Codec.css
  src/components/Codec.js
  src/components/DrmSupports.js
  src/components/DrmSupportsLevels.js
  src/declarations/types.d.ts
  src/models/DrmLevels.js
  src/routes.js
  src/utils/drm.js
  src/utils/getValidClass.js
  src/views/canivideo.css
  src/views/canivideo/Codec.css
  src/views/canivideo/Codec.js
  src/views/canivideo/canivideo.css
  src/views/canivideo/canivideo.js
Labels: ui, video

#214 `[crt213]` move to sass
  README.md
  package-lock.json
  package.json
  src/components/Button.css
  src/components/Button.js
  src/components/Button.scss
  src/components/Carousel.js
  src/components/Carousel.scss
  src/components/Checkbox.js
  src/components/Checkbox.scss
  src/components/Dialog.js
  src/components/Dialog.scss
  src/components/Grid.js
  src/components/Grid.scss
  src/components/Heading.css
  src/components/Heading.js
  src/components/Heading.scss
  src/components/Keyboard.css
  src/components/Keyboard.js
  src/components/Keyboard.scss
  src/components/LazyImage.js
  src/components/LazyImage.scss
  src/components/Nav.css
  src/components/Nav.js
  src/components/Nav.scss
  src/components/Notification.css
  src/components/Notification.js
  src/components/Notification.scss
  src/components/Spinner.js
  src/components/Spinner.scss
  src/components/TextInput.css
  src/components/TextInput.js
  src/components/TextInput.scss
  src/components/Tile.js
  src/components/Tile.scss
  src/declarations/assets.d.ts
  src/styles/_colours.scss
  src/styles/_funcs.scss
  src/views/canivideo/Codec.css
  src/views/canivideo/Codec.js
  src/views/canivideo/Codec.scss
  src/views/canivideo/_local-colours.scss
  src/views/canivideo/canivideo.css
  src/views/canivideo/canivideo.js
  src/views/canivideo/canivideo.scss
  src/views/diff.css
  src/views/diff.scss
  src/views/formExample.js
  src/views/formExample.scss
  src/views/search.js
  src/views/search.scss
  src/views/show.js
  src/views/show.scss
Labels: css

#215 `[crt161]` virtual list research
  src/navigation.js
  src/routes.js
  src/utils/dom/removeElement.js
  src/utils/math/parseDecimal.js
  src/views/vlist.css
  src/views/vlist.js
Labels: research, scrolling
